.hero-bg {
    background-image: linear-gradient(to right bottom, rgba(14, 14, 14, 0.7) 60%, rgba(53, 52, 52, 0.7)), url('https://res.cloudinary.com/www-rocketchipwebsolutions-ie/image/upload/v1563457099/E-Commerce%20Site/william-iven-GANqCr1BRTU-unsplash_a2lwz9.jpg');
    background-size: cover;
    background-position: center;
}

.selected {
    border: 3px darkgray solid;
}

.out {
    opacity: 0;

}

.in {
    opacity: 1;
    transition: opacity .10s ease-in-out;
}
